/* 尾部 */
footer {
	width: 100%;
	height: 290px;
	background: rgba(51, 51, 51, 1);
	/* margin-top: 100px; */

}

.forus-footer {
	height: 225px;
	margin-left: 141px;
	margin-right: 138px;
	border-bottom: 1px solid #61666d;
	
}

/* 左侧内容部分 */
.foot-left {
	padding-top: 31px;
	/* min-width: 380px; */
	width: 30%;
	height: 180px;
	/* overflow: hidden; */
}

.foot-left p {
	margin-top: 28px;
	width: 100%;
	height: 65px;
	font-size: 12px;
	font-family: MicrosoftYaHeiLight;
	font-weight: 300;
	color: rgba(100, 105, 112, 1);
	line-height: 26px;
	margin-bottom: 60px;
}

/* 右侧内容部分 */
.foot-right {
	padding-top: 37px;
	width: 50%;
}

.foot-right ul {
	margin-right: 44px;
}
.foot-right ul:last-child {
	margin-right: 0;
}
.foot-right li {
	padding-top: 10px;
}

.foot-right li:first-child h4 {
	/* width: 56px; */
	height: 14px;
	font-size: 14px;
	font-family: MicrosoftYaHeiLight;
	font-weight: 300;
	color: rgba(204, 204, 204, 1);
}

.foot-right a,
.foot-right p {
	font-size: 12px;
	font-family: MicrosoftYaHeiLight;
	font-weight: 300;
	color: rgba(100, 105, 112, 1);
}

.foot-right ul:last-child li:last-child {
	/* width: 252px; */
	height: 13px;

}
.foot-right ul:last-child {
	margin-right: 0;
}
.di {
	text-align: center;
	padding-top: 20px;
}

.di p {
	font-size: 12px;
	color: #61666d;
}

.foot-right a:hover {
	color: #ff852b;
}
