body {
	overflow-x: hidden;
}
.content_top {
	width: 100%;
	height: 100%;
}
/* 内容部分 */
.wenzinr{
	width: 100%;
	height: 620px;
	background: url(../img/chengya_banner3_img.png) no-repeat;
	background-size: 100% 620px;
}


/* <!-- 图片上的文字内容 --> */
.text {
	width: 639px;
	height: 194px;
	padding: 255px 60px;
	

}

/* .text ul {
	margin-top: 30px;
	margin-bottom: 10px;
} */

.text li {
	margin-right: 30px;
	font-size: 40px;
}

.nav {
	margin-top: 40px;
}

.nav p {
	font-size: 20px;
	color: #98A6AD;
}

.line1 {
	width: 80px;
	height: 4px;
	background-color: #ff852b;
	margin-top: 30px;
}

/* 橙芽数据模式 */
.data {
	width: 100%;
	height: 200px;
	margin-top: 70px;
}
.data ul {
	margin-bottom: 40px;
}
.line {
	width: 40px;
	height: 14px;
	background: rgba(255, 133, 43, 1);

}

h3 {
	width: 216px;
	height: 34px;
	font-size: 36px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	padding-top: 21px;
	padding-bottom: 19px;
}

.mode p {
	width: 264px;
	height: 15px;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
}

.picture {
	margin-top: -75px;
	width: 43%;
	height: 74%;
	/* border: 1px dashed #ccc; */
}
.picture img {
	width: 100%;
	height: 100%;
}
/* .mypic img {
	width: 817px;
	height: 194px;
} */
/* 数据*/
.year {
	width: 100%;
	height: 182px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 13px 0px rgba(202, 202, 202, 0.41);
	/* border: 1px solid #f9f9f9; */
	display: flex;


}

.year p:first-child {
	width: 110px;
	height: 29px;
	font-size: 38px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(238, 102, 1, 1);
	margin-top: 59px;

	/* box-sizing: border-box; */
}

.year p:nth-child(2) {
	width: 14px;
	height: 13px;
	font-size: 26px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(238, 102, 1, 1);
	padding-top: 55px;
	margin-left: -9px;
}

.year p:last-child {
	width: 96px;
	height: 17px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
	margin-top: 115px;
}

.year_1,
.year_2,
.year_3,
.year_4 {
	flex: 1;
	/* margin: auto; */
	/* padding: 15px; */
	padding-left: 10%;

}

.year_2 p:nth-child(2) {
	margin-left: -15px;
}

.year_4 p:nth-child(2) {
	margin-left: 0px;
}

.year_4 p:first-child {
	width: 81px;
	height: 36px;
}

/* 橙芽网络 */
.internet {
	width: 100%;
	height: 600px;
	/* background-color: #edeef0; */
	background: url(../img/about_bg3_img.png) 1920px 285px;
	margin-top: 250px;
	display: flex;
	position: relative;
	overflow: hidden;
}

.page-one {
	display: flex;
}

.cywl {
	width: 30%;
	/* height: 200px; */
	padding: 5px;
	flex: 1;
	margin-right: 150px;
	position: relative;
}

.cywl .line {
	margin-top: 70px;
}

.cywl h3 {
	width: 144px;
	height: 35px;
	font-size: 36px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	margin-top: 20px;
	margin-bottom: 49px;
}

.cywl-text {
	width: 309px;
	height: 87px;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	font-weight: 400;

	line-height: 36px;
	padding-bottom: 51px;
}

.cywl p {
	color: #333;
}

.cywl img {
	width: 312px;
	height: 164px;
	border: 1px dashed #ccc;
}

/* 文字描述 */
.wordscrption {
	width: 300px;
	height: 310px;
	background-color: #454241;
	position: absolute;
	left: 88%;
	top: 55%;
	overflow-y: scroll;
	z-index: 100;

}



/*滚动条样式*/
.wordscrption::-webkit-scrollbar {
	width: 4px;
	/*height: 4px;*/
}

.wordscrption::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}

.wordscrption::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 0;
	background: rgba(0, 0, 0, 0.1);

}

.wordscrption p {
	width: 234px;
	height: 241px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	margin: 37px 39px 32px 27px;

}


/* 橙芽办公区域 */
.container {
	width: 1200px;
}

.g-scrolling-carousel {

	display: flex;
	white-space: nowrap;

}

.g-scrolling-carousel .items {
	padding: 5px 0;
	display: inline-block;
}

.g-scrolling-carousel .items div {
	display: inline-block;
	margin-right: 100px;

}

.mypic-1,
.mypic-2 {
	width: 600px;
	height: 360px;
	/* margin-left: 207px; */
	padding-top: 47px;
	/* padding-left: 120px; */
}

.mypic-1 img,
.mypic-2 img {
	width: 100%;
	height: 100%;
}

.mypic-2 {
	margin-left: 110px;
}

.beizhu,
.conference {
	width: 136px;
	height: 52px;
	background: rgba(255, 133, 43, 1);
	border-radius: 2px;
	position: absolute;
	left: 44%;
	top: 40%;
	color: #fff;
	text-align: center;
	line-height: 52px;

}

.conference {
	left: 90%;
}

/* 点击切换按钮 */
.djqh {
	position: absolute;
	top: 85.19%;
	left: 56.51%;
}

.djqh li {
	margin-right: 30px;
	width: 29px;
	height: 17px;
}
.djqh li:last-child{
	margin-left: 30px;
}
.djqh li:nth-child(2) p{
	width: 51px;
	height: 17px;
	font-size: 20px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(153, 153, 153, 1);
}
.djqh li:nth-child(2) span {
	font-size: 20px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(153, 153, 153, 1);
}
/* 品牌文化 */
.brand {
	margin-top: 80px;
}

.brand p {
	font-size: 14px;
	color: #CCCCCC;
	margin-bottom: 20px;
}

.culture {
	width: 100%;
	/* height: 500px; */
	/* background: #00BFFF; */
	display: flex;
	margin-top: 80px;
	margin-bottom: 50px;

}

.qysm,
.qyzz,
.jyln,
.qyjs {
	position: relative;
	flex: 1;
	width: 30%;
	height: 364px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 13px 0px rgba(221, 221, 221, 0.63);
	border-radius: 10px;

	padding: 30px;
	margin-right: 100px;
	box-sizing: border-box;
	z-index: 5;
}

.qysm img,
.qyzz img,
.jyln img,
.qyjs img {
	width: 140px;
	height: 140px;
	position: absolute;
	left: 27%;
	top: -60px;
}

.qysm:hover,
.qyzz:hover,
.jyln:hover,
.qyjs:hover {
	border-bottom: 3px solid #FF852B;

}



.qysm h3,
.qyzz h3,
.jyln h3,
.qyjs h3 {
	width: 96px;
	height: 23px;
	font-size: 24px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	text-align: center;
	margin: 59px 102px 50px 72px;

}

.qysm p,
.qyzz p,
.jyln p,
.qyjs p {
	/* width: 234px;
	height: 90px; */
	font-size: 18px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	line-height: 36px;

}

.qyjs {
	margin-right: 0;
}


/* 企业优势 */
.advantage {
	margin-top: 81px;
	width: 100%;
	height: 600px;
	background-color: #f3f3f3;
	word-break: keep-all;
	white-space: nowrap;
	/* overflow: hidden; */
	position: relative;
}

.advantage-top {
	width: 100%;
	margin-bottom: 20px;
}

/* 企业优势右侧文字 */
.advantage .line {
	margin-top: 75px;
}

.advantage h3 {
	text-align: right;
}

.advantage p {
	color: gainsboro;
	text-align: right;
}

/* 下 主体部分 */
.advantage-bottom {
	margin-top: 10px;
	width: 100%;
	/* height: 300px; */

}

.advantage-right {
	width: 320px;
	/* height: 340px; */
	/* background-color: #CC8CB1; */
	padding-bottom: 20px;
}

/* 文字区域 */
.list {
	margin-top: 51px;
}

.advantage-right li {
	padding-top: 20px;
}

.advantage-right li h4:hover,
.advantage-right p:hover {
	color: #ff852b;
}

.advantage-right h4 {
	text-align: right;
	color: #000000;
	padding-bottom: 10px;
}

.advantage-right p {
	font-size: 14px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 133, 43, 1);
	margin-right: 0;
}

.slides {
	width: 500px;
	height: 500px;
}

.slides img {
	width: 100%;
	height: 100%;
}

.advantage-bottom {
	margin-top: 10px;
	width: 100%;
	/* height: 300px; */

}

.advantage-right {
	width: 320px;
	/* height: 340px; */
	/* background-color: #CC8CB1; */
	padding-bottom: 20px;
}

/* 文字区域 */
.advantage-right li {
	padding-top: 20px;
}

/* .advantage-right li h4:hover,
.advantage-right p:hover {
	color: #ff852b;
} */

.advantage-right h4 {
	text-align: right;
	color: #000000;
	padding-bottom: 10px;
}

.advantage-right p {
	color: #CCCCCC;
}

.text-one h4,
.text-one p {
	color: #ff852b;
}

.jiantou {

	margin-top: 10px;
	margin-left: 163px;
	position: absolute;
	top: 85%;
	right: 10%;
}

.jiantou li {
	width: 29px;
	height: 17px;
	font-size: 20px;
	margin-right: 30px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(153, 153, 153, 1);
}

.jiantou li:last-child {
	color: #000000;
	margin-left: 20px;
}




.num1 span,
.num2 span,
.num3 span {
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(153, 153, 153, 1);
	font-size: 20px;
}

/* 左侧图片 */
.pic-1,
.pic-2,
.pic-3 {
	width: 470px;
	height: 320px;
	margin-left: 50px;
	margin-top: 200px;
	display: inline-block;
}

.pic-1 img,
.pic-2 img,
.pic-3 img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.pic-1 {
	margin-left: -450px;
}

.pic-1,
.pic-2 {
	opacity: 0.5;
}

/* 合作伙伴 */

.partner {
	width: 100%;
	margin-top: 80px;
}

.partner-top {
	width: 100%;
	height: 100px;
	margin-top: 30px;
	/* background-color: #A300F3; */
}

.partner-top p {
	color: #CCCCCC;
}

.partner-bottom {
	width: 100%;
	margin-top: 69px;
}

.partner-bottom ul {
	display: flex;
	margin-bottom: 25px;
}

.partner-bottom li {
	width: 346px;
	/* height: 204px; */
	flex: 1;
	text-align: center;
	line-height: 200px;
	margin-right: 20px;
	box-shadow:0px 4px 13px 0px rgba(202,202,202,0.41);
}

.partner-bottom li:last-child {
	margin-right: 0;
}

.partner-bottom li:hover {
	/* box-shadow: 5px 5px 5px 5px #CCCCCC; */
}

.partner-bottom img {
	width: 100%;
	height: 100%;
}

.partner-bottom ul:last-child {
	margin-bottom: 105px;
}

.baidu:hover {
	content: url(../img/about_logo1_1_img.png);
}

.zhilian:hover {
	content: url(../img/about_logo2_2_img.png);
}

.tengxun:hover {
	content: url(../img/about_logo3_1_img.png);
}

.ydzx:hover {
	content: url(../img/about_logo4_1_img.png);
}

.ali:hover {
	content: url(../img/about_logo5_1_img.png);
}

.tc:hover {
	content: url(../img/about_logo6_1_img.png);
}

.huawei:hover {
	content: url(../img/about_logo7_1_img.png);
}

.youku:hover {
	content: url(../img/about_logo8_1_img.png);
}
