/* 顶部 */
.header {
	width: 100%;
	/* min-width: 1200px; */
	height: 60px;
	background: rgba(0, 0, 0, 1);
	opacity: 0.6;
	/* position: relative;
	z-index: 10; */
}

/* 左侧logo */
.header_left {
	margin: 9px;

	width: 101px;
	height: 42px;
	background: url(../img/top_logo_img.png);
	background-size: 100% 100%;
}



/* 右侧导航栏*/
.header_right {
	/* min-width: 423px; */
	height: 60px;
}

.header_right ul {
	line-height: 60px;
}
.header_right li:first-child {
	/* width: 32px; */
	height: 17px;
	margin-right: 70px;
}
.header_right li {
	
	/* width: 64px; */
	height: 17px;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}
.header_right li:nth-child(2) {
	margin-right: 69px;
}
.header_right li:nth-child(3) {
	margin-right: 60px;
}
.header_right li:last-child {
	margin-right: 0;
}

.header_right li:hover {
	border-bottom: 3px solid #FF852B;
	padding-bottom: 28px;
}
