/* body */
.body {
	width: 100%;
	/* height: 100%; */
	/* border: 3px solid blue; */
	position: relative;
}

.header {
	position: relative;
	z-index: 10;
}


/* 内容部分 */
.content {
	width: 100%;
	
	height: 100%;
	background: url('../img/home-black-bg.jpg') no-repeat;
	background-size: 100% 100%;
	/* circle2超出部分隐藏 */
	overflow: hidden;
}

.content_center {
	position: absolute;
	left: 50%;
	top: 21%;
	transform: translate(-50%,-50%);
}
canvas {

	z-index: 0;
	position: absolute;
	left: -10%;
	top: -2%;
	transform: rotate(24deg) translateX(130px);
	overflow: hidden;
}
.content_center p {
	position: absolute;
	left: 18%;
	top: 45%;
	font-size: 70px;
	font-family: courier;
}

/* 圆点 */

.circle1 {
	width: 700px;
	height: 700px;
	text-align: center;
	margin: 0 auto;
	
}

.circle1 img {
	width: 600px;
	height: 600px;
	position: absolute;
	top: 22%;
	left: 51%;
	margin-top: -300px;
	margin-left: -300px;
	
}

.circle2 {
	width: 1400px;
	height: 1400px;
	text-align: center;
	margin: 0 auto;
	
}

.circle2 img {
	width: 1200px;
	height: 1200px;
	position: absolute;
	top: 24%;
	left: 51%;
	margin-top: -600px;
	margin-left: -600px;	
}

/* 实现图片的旋转 */

@-webkit-keyframes rotation {
	0%{
		-webkit-transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}
.xz {
	/* -webkit-transform: rotate(360deg); */
	animation: rotation 120s linear infinite;
	-moz-animation: rotation 120s linear infinite;
	-webkit-animation: rotation 120s linear infinite;
	-o-animation: rotation 120s linear infinite;
}

/* 逆旋转 */
@-webkit-keyframes rotater {
	0%{
		-webkit-transform: rotate(360deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}
.nxz {

	animation: rotater 120s linear infinite;
	-moz-animation: rotater 120s linear infinite;
	-webkit-animation: rotater 120s linear infinite;
	-o-animation: rotater 120s linear infinite;
}


/* circle1 与此人circle2中的部分内容 */
.circle_center {
	width: 100%;
	height: 100%;
}

/* 技术体系 */
#jstx {
	position: absolute;
	top: 10%;
	left: 28%;
	transform: rotate(0deg);
}

/* 产品特点 */
#cptd-1, #cptd-2 {
	position: absolute;
	top: 23%;
	left: 25%;
	transform: rotate(0deg);
}


/* 产品特点 */
#cptd-2 {
	top: 31%;
	left: 38%;
}

/* 我们的优势 */
#youshi {
	position: absolute;
	top: 8%;
	left: 60%;
	transform: rotate(0deg);
}


#anli {
	position: absolute;
	top: 28%;
	left: 60%;
	transform: rotate(0deg);
}


/* 企业案例 */
.anli {
	width: 10%;
	position: absolute;
	right: 28%;
  top: 36%;
	z-index: 10;
}
.ccr_one a {
	font-size: 12px;
	margin-right: 10px;
}
.ccr_one img {
	width: 10px;
	height: 10px;
	background-color: #cc8cb1;
	border-radius: 50%;
}

.ccr_one .circle3 {
	top: -24%;
	left: 32%;
	background-color: #cc8cb1;
}
.ccr_one .circle4 {
	top: -47%;
	left: 29.5%;
	background-color: #cc8cb1;
}

/* 秒成集团APP制作 */
.ccr_two {
	position: absolute;
	right: 26%;
  top: -130px;
	z-index: 10;
}
.ccr_two img{
	margin-left: 40px;
}

.ccr_three {
	position: absolute;
	right: -81px;
  top: -70px;
	z-index: 10;
}

.ccr_4 .circle3 {
	left: -5%;
  top: -18%;
	
}
.ccr_4 .circle4 {
	left: -9%;
  top: -39%;
}
/* 动画 */
@-webkit-keyframes circle1{
	0%{
		transform: scale(1);

	}
	100%{
		transform: scale(1.5);
	}
}


/* 底部 */

.footer {
	position: absolute;
	bottom: 56%;
	left: 45%;
	z-index: 10;
}

.footer li {
	margin-left: 10px;

}

.footer li a {
	font-size: 12px;
}
