/* body */
.body {
	width: 100%;
	/* height: 100%; */
	/* border: 3px solid blue; */
}

/* 内容部分 */
.content {
	width: 100%;
	height: 919px;
	background: url('../img/home-black-bg.jpg') no-repeat;
	position: relative;
	/* circle2超出部分隐藏 */
	overflow: hidden;
}

.content_center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
canvas {
	z-index: 0;
	position: absolute;
	left: 5%;
	top: 0%;
	transform: rotate(24deg);
}
.content_center p {
	position: absolute;
	left: 18%;
  top: 45%;
	font-size: 70px;
	font-family: courier;
}

/* 圆点 */
.circle1 {
	/* border: 1px solid red; */
	position: absolute;
	left: 35%;
	top: 18%;

}
.circle1 img {
	width: 80%;
	height: 80%;
}

.circle2 {

	position: absolute;
	left: 21%;
	top: -12%;

}

.circle2 img {
	width: 150%;
	height: 150%;
}

/* 实现图片的旋转 */

@-webkit-keyframes rotation {
	0%{
		-webkit-transform: rotate(0deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}
.xz {
	/* -webkit-transform: rotate(360deg); */
	animation: rotation 120s linear infinite;
	-moz-animation: rotation 120s linear infinite;
	-webkit-animation: rotation 120s linear infinite;
	-o-animation: rotation 120s linear infinite;
}

/* 逆旋转 */
@-webkit-keyframes rotater {
	0%{
		-webkit-transform: rotate(360deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}
.nxz {

	animation: rotater 120s linear infinite;
	-moz-animation: rotater 120s linear infinite;
	-webkit-animation: rotater 120s linear infinite;
	-o-animation: rotater 120s linear infinite;
}


/* circle1 与此人circle2中的部分内容 */
.circle_center {

	position: relative;

}

/* 技术体系 */
.cc_1 {
	position: absolute;
	left: 40%;
	top: 190px;
	z-index: 10;
}
.cc_1 a {
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 5px;
	color: white;
}
 .circle_center a {
	/* margin-top: 10px; */
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #CCCCCC;
}
.circle_center a:hover {
	color: white;
}

.cc_1 img {
	width: 10px;
	height: 10px;
	background-color: #FFA500;
	border-radius: 50%;
}

.cc_1 .circle3 {
	left: -7%;
	background-color: #FFA500;
}
.cc_1 .circle4 {
	left: -14%;
	background-color: #FFA500;
}
.cc_2 {
	position: absolute;
	left:41%;
	top: 110px;
	z-index: 10;
}

.cc_3 {
	position: absolute;
	left:34%;
	top: 85px;
	z-index: 10;
}
.cc_3 a,.cc_4 a {
	margin-right: 5px;
}

.cc_4 {
	position: absolute;
	left:30%;
	top: 148px;
	z-index: 10;
}

.cc_5 {
	position: absolute;
	left:35%;
	top: 210px;
	z-index: 10;
}


/* 产品特点 */

.cc_one {
	position: absolute;
	top: 470px;
    left: 31%;
	z-index: 10;
}
.cc_one a {
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 5px;
	color: white;


}
.cc_one img {
	width: 10px;
	height: 10px;
	background-color: greenyellow;
	border-radius: 50%;;
}
.cc_one .circle3 {
	left: -7%;
	background-color: greenyellow;
}
.cc_one .circle4 {
	left: -14%;
	background-color: greenyellow;
}
.cc_two {
	position: absolute;
	top: 380px;
    left: 33%;
	z-index: 10;
}
.circle_center a {
	/* margin: 10px; */
	margin-bottom: 5px;
	color: #ccc;
}

.cc_three {
	position: absolute;
	top: 435px;
    left: 25%;
	z-index: 10;
}
.cc_three a {
	margin-right: 5px;
}

.cc_four {
	position: absolute;
	top: 510px;
    left: 28%;
	z-index: 10;
}

.cc_five {
	position: absolute;
	top: 525px;
    left: 33%;
	z-index: 10;
}

/* 产品特点 */
.cptd {
	width: 300px;
	height: 100px;
	position: absolute;
	left: 45%;
    top: 750px;
	z-index: 10;
}
.cc_cp a {
	font-size: 12px;
	color: white;
}
.cc_cp img {
	width: 10px;
	height: 10px;
	background-color: #f3e300;
	border-radius: 50%;
	margin-right: 5px;
}

.cc_cp .circle3 {
	left: -2%;
	background-color: #f3e300;
}
.cc_cp .circle4 {
	left: -4%;
	background-color: #f3e300;
}

.cc_sjh {
	position: absolute;
	left: -95px;
    top: -65px;
}
.cc_sjh a {
	margin-right: 10px;
}

/* 平台化 */
.cc_pth {
	position: absolute;
	left: -10px;
    bottom: 25px;

}
.cc_pth a {
	margin-right: 10px;
}

/* 智能化 */
.cc_znh {
	position: absolute;
	left: -80px;
    bottom: 62px;

}

/* 我们的优势 */
.youshi {
	width: 100px;
	height: 50px;
	position: absolute;
	right: 35%;
    top: 200px;
	z-index: 10;
}
.ccr_1 a {
	font-size: 12px;
	margin-right: 10px;
	color: white;
}
.ccr_1 img {
	width: 10px;
	height: 10px;
	background-color: #a300f3;
	border-radius: 50%;
}
.ccr_1 .circle3 {
	left: 75%;
	background-color: #a300f3;
}
.ccr_1 .circle4 {
	left: 70%;
	background-color: #a300f3;
}
/* 智能大数据 */
.ccr_2 {
	position: absolute;
	right: -50px;
    top: 49px;
}

/* 多元信息服务 */
.ccr_3 {
	position: absolute;
	right: -190px;
	top: 0px;
}

/* 全方位业务生态圈 */
.ccr_4 {
	position: absolute;
	right: -115px;
    top: -82px;
}

.ccr_4 img {
	width: 10px;
	height: 10px;
	background-color: #dfe1e8;
	border-radius: 50%;

}






/* 企业案例 */
.anli {
	width: 112px;
	position: absolute;
	right: 28%;
    top: 676px;
	z-index: 10;
}
.ccr_one a {
	font-size: 12px;
	margin-right: 10px;
}
.ccr_one img {
	width: 10px;
	height: 10px;
	background-color: #cc8cb1;
	border-radius: 50%;
}

.ccr_one .circle3 {
	left: 56%;
	background-color: #cc8cb1;
}
.ccr_one .circle4 {
	left: 52%;
	background-color: #cc8cb1;
}

/* 秒成集团APP制作 */
.ccr_two {
	position: absolute;
	right: 5%;
    top: -130px;
	z-index: 10;
}

.ccr_three {
	position: absolute;
	right: -120px;
    top: -70px;
	z-index: 10;
}

.circle3 {
	width: 20px;
	height: 20px;
	background-color: #dfe1e8;
	opacity: 0.6;
	border-radius: 50%;
	position: absolute;
	left: -5%;
    top: -5px;
	animation: circle1 3s linear infinite;
}
.circle4 {
	width: 30px;
	height: 30px;
	background: #dfe1e8;
	opacity: 0.3;
	border-radius: 50%;
	position: absolute;
	left: -9%;
    top: -10px;
	animation: circle1 3s linear infinite;
}
/* 动画 */
@-webkit-keyframes circle1{
	0%{
		transform: scale(1);

	}
	100%{
		transform: scale(1.5);
	}
}












/* 底部 */

.footer {
	position: absolute;
	bottom: 2%;
	left: 45%;
	z-index: 10;
}

.footer li {
	margin-left: 10px;

}

.footer li a {
	font-size: 12px;
}
