/* 项目案例 */
/* 内容区域   背景图 */
.anli-content {
	width: 100%;
	height: 100%;
}
.wenben {
	width: 100%;
	height: 620px;
	background: url(../img/background.png) no-repeat;
	background-size: 100% 620px;
}

/* 背景图上的文字字 */
.text {
	/* width: 33.28%; */
	height: 31.29%;
	padding: 213px 60px;
	
}

.text p {
	font-size: 40px;
	color: white;
}

.text span {
	color: #ff852b;
	font-size: 40px;
}

.nav ul {
	margin-top: 50px;
}

.nav li:first-child p {
	color: #ffffff;
	font-size: 20px;
	padding-bottom: 3px;
}


.line {
	width: 80px;
	height: 4px;
	background-color: #ff852b;
	margin-top: 30px;

}

/* 企业网站建设 */
.website {
	padding-top: 60px;
	width: 100%;
	/* padding-bottom: 191px; */
}

.web-left ul {
	/* width: 375px; */
	height: 103px;
}

.web-left li:nth-child(2) {
	/* width: 216px; */
	height: 35px;
	margin-top: 20px;
}

.web-left .line {
	width: 40px;
	height: 14px;
	background-color: #ff852b;
	/* margin-top: 20px; */
}

h3 {
	font-size: 2.25rem;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
}

.web-left li:last-child {


	margin-top: 19px;
}

.web-left p {
	/* width: 375px; */
	height: 15px;
	/* font-size: 20px; */
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
}

.web-right {
	height: 135px;

}

.web-right li {
	width: 28px;
	height: 17px;
}



.web-right ul:last-child {
	margin-top: 92px;
}

.two li:nth-child(2) {
	width: 51px;
	height: 17px;
	font-size: 1.25rem;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(153, 153, 153, 1);
	margin-left: 30px;
	margin-right: 30px;
}

.web-right li a {
	color: grey;
	font-size: 1.875rem;
}

.web-right .aft a,
.web-right .bef a {
	color: black;
}

.web-right p {
	padding-top: 0px;
	color: #98A6AD;
}


/* 网站建设内容部分 */
.web-content {
	width: 100%;
	height: 300px;
	/* background-color: #CC8CB1; */
	margin-top: 213px;
	display: flex;
}

.cactus,
.futuristic,
.luckin {
	width: 30%;
	height: 339px;
	margin-right: 38px;
	background-color: #e9eef2;
	border-radius: 10px;
	flex: 1;
	text-align: center;
	position: relative;
	border: 1px dashed #ccc;
	box-sizing: border-box;
	/* line-height: 245px; */

}

.cactus img,
.futuristic img,
.luckin img {
	width: 85%;
	height: 70%;
	margin-top: 45px;
}

.futuristic {

	background-color: #eac9bc;

}

.luckin {
	margin-right: 0;
	background-color: #d6e0e1;

}

.web-content .textbox {
	width: 30%;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 13px 0px rgba(202, 202, 202, 0.41);
	border-radius: 4px;
	border: 1px solid #ccc;
	position: absolute;
	left: 32px;
	top: 311px;
	color: rgba(51, 51, 51, 1);
	line-height: 50px;
	font-size: 1.125rem;
}

/* .futuristic .textbox {
	left: 43%;
} */
.luckin .textbox {

	background-color: #ff852b;
	color: white;
}

.images {
	width: 100%;
	/* height: 300px; */

	margin-top: 213px;
	display: flex;
}

/* 听评课系统 */
.tpkxt,
.sygzs,
.youlv {
	width: 30%;
	height: 340px;
	background-color: #F2F0DF;
	flex: 1;
	box-sizing: border-box;
	margin-right: 36px;
	position: relative;
}

/* 摄影工作室 */
.sygzs {
	background-color: #C4C4C4;
}

.youlv {
	margin-right: 0;
	background-color: #D6E0E1;
}

.images img {
	width: 100%;
	height: 100%;
	/* margin-right: 21px; */
	/* flex: 1; */
	border: 1px dashed #ccc;
	/* box-sizing: border-box; */
}

.youlv {
	margin-right: 0px;
}

.images .textboxs {
	width: 30%;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 13px 0px rgba(202, 202, 202, 0.41);
	border-radius: 4px;
	line-height: 50px;
	position: absolute;
	left: 31px;
	top: 311px;

	font-size: 1.125rem;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	text-align: center;
}
.youlv .textboxs {
	background-color: #FF852B;
	color: #fff;
}
/* APP开发 */
.app {
	width: 100%;
	margin-top: 170px;
	margin-bottom: 198px;
}

.app-left {
	width: 422px;
	height: 139px;
}

.app-left li:first-child {
	margin-bottom: 21px;
}

.app-left .line {
	width: 40px;
	height: 14px;
	background: rgba(255, 133, 43, 1);
}

.app-left li:nth-child(2) h3 {
	/* width: 180px; */
	height: 34px;
	font-size: 2.25rem;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 19px;
}

.app-left p {
	/* width: 193px; */
	height: 15px;
	font-size: 20px;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
}

.num1 span,
.num2 span {
	color: #000000;
	font-size: 1.125rem;
}

.app-right ul {
	margin-top: 85px;
}

/* .app-right ul {
	padding-top: 244px;
} */

.app-right li {
	margin-right: 30px;
}

.app-right li:last-child {
	margin-right: 0;
}

.app-right li a {
	color: grey;
	font-size: 1.875rem;
}

.app-right li:last-child a {
	color: #000000;
}

.app-right p {
	padding-top: 0px;
	color: #98A6AD;
}

/* app内容部分 */
.app-content {
	width: 100%;
	height: 300px;
	padding-top: 191px;
	display: flex;
	box-sizing: border-box;
}

.vr,
.yicx,
.water {
	width: 30%;
	height: 340px;
	margin-right: 36px;
	flex: 1;
	position: relative;
	box-sizing: border-box;
}

.vr img,
.yicx img,
.water img {
	width: 100%;
	height: 100%;
	margin-top: 10px;
	border-radius: 10px;
	border: 1px dashed #ccc;
}

.water:last-child {
	margin-right: 0;
}

.app-content .textbox {
	width: 30%;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 13px 0px rgba(202, 202, 202, 0.41);
	border-radius: 4px;
	font-size: 1.125rem;
	border: 1px solid #ccc;
	position: absolute;
	left: 32px;
	top: 317px;
	color: rgba(51, 51, 51, 1);
	line-height: 50px;
	text-align: center;
}

.water .textbox {

	background-color: #ff852b;
	color: white;
}

.images-1 {
	width: 100%;
	display: flex;
	padding-top: 63px;
	box-sizing: border-box;
}

.szpg,.mmyd, .qwts {
	width: 30%;
	height: 340px;
	margin-right: 34px;
	border: 1px dashed #ccc;
	position: relative;
	flex: 1;
}

.qwts {
	margin-right: 0;
}
.images-1 .textboxs {
	width: 30%;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 4px 13px 0px rgba(202, 202, 202, 0.41);
	border-radius: 4px;
	line-height: 50px;
	position: absolute;
	left: 31px;
	top: 311px;

	font-size: 1.125rem;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	text-align: center;
}
.qwts .textboxs {
	background-color: #FF852B;
	color: #fff;
}

.images-1 img,
.images-2 img {
	width: 100%;
	height: 100%;
}

.images-1 img:last-child,
.images-2 img:last-child {
	margin-right: 0px;
}

.xcx {
	padding-top: 50px;
	/* margin-bottom: 199px; */
}

.xcx-left li:nth-child(3) p {
	margin-top: 19px;
	/* width: 330px; */
	height: 15px;
	font-size: 1.25rem;
	font-family: MicrosoftYaHei;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
}

.images-2 {
	padding-top: 59px;
	margin-bottom: -99px;
}
