@media only screen and (max-width: 1200px) {
	.wenben {
		height: 400px;
		background-size: 100% 400px;
	}

	.text {

		padding: 15%;
		display: inline-block;
		-webkit-transform: scale(1);
		padding-left: 0;
		margin-left: 41px;
	}

	h3 {
		-webkit-transform: scale(0.75);
		margin-left: -40px;
	}

	.cactus,
	.futuristic,
	.luckin {
		width: 31.3%;
		margin-right: 20px
	}

	.luckin {
		margin-right: 0;
	}

	.web-content .textbox {
		width: 55%;
		-webkit-transform: scale(0.75);
		left: 1%;
    top: 87%;
	}

	.tpkxt,
	.sygzs,
	.youlv {
		width: 31.3%;
		margin-right: 20px;
	}

	.youlv {
		margin-right: 0;
	}

	.images {
		/* padding-bottom: 50px; */
	}

	.images .textboxs {
		width: 55%;
		-webkit-transform: scale(0.75);
		left: 1%;
    top: 87%;
	}

	.app {
		margin-top: 60px;
	}

	.app-left li:nth-child(2) h3 {
		-webkit-transform: scale(0.75);
		margin-left: -29px;
	}

	.app-left p {
		-webkit-transform: scale(0.8);
		margin-left: -20px;
	}

	.vr,
	.yicx,
	.water {
		width: 31.3%;
		margin-right: 20px;
		/* height: 249px; */
	}

	.water {
		margin-right: 0;
	}

	.app-content .textbox {
		width: 55%;
		-webkit-transform: scale(0.75);
		left: 1%;
    top: 87%;
	}

	.szpg,
	.mmyd,
	.qwts {
		width: 35.3%;
		/* height: 249px; */
		margin-right: 20px;
	}

	.qwts {
		margin-right: 0;
	}

	.images-1 .textboxs {
		width: 55%;
		-webkit-transform: scale(0.75);
		left: 1%;
    top: 87%;
	}

	.xiaocx {
		margin-top: -60px;
	}

	/* .images-2 {
			padding-bottom: 90px;
		} */
	.forus-footer {
		width: 100%;
		margin: 0;
	}

	.foot-left {
		width: 39%;
	}

	.foot-left p {
		margin-top: 6px;
	}

	.foot-right li {
		margin-top: 3px;
	}

	.foot-right {
		width: 54%;
	}

	.foot-right ul {
		width: 35%;
		margin-right: -10px;
	}
}


@media only screen and (max-width: 1000px) {
	.wenben {
		height: 400px;
		background-size: 100% 400px;
	}

	.text {

		padding: 15%;
		display: inline-block;
		-webkit-transform: scale(1);
		padding-left: 0;
		margin-left: 41px;
	}

	h3 {
		-webkit-transform: scale(0.75);
		margin-left: -40px;
	}

	.cactus,
	.futuristic,
	.luckin {
		width: 30.3%;
		margin-right: 20px
	}

	.luckin {
		margin-right: 0;
	}

	.web-content .textbox {
		width: 55%;
		font-size: 15px;
		
		left: 1%;
		top: 82%;
	}

	.web-right {
		margin-right: 10px;
	}

	.tpkxt,
	.sygzs,
	.youlv {
		width: 30.3%;
		/* height: 249px; */
		margin-right: 20px;
	}

	.youlv {
		margin-right: 0;
	}

	.images .textboxs {
		width: 55%;
		font-size: 15px;
		left: 1%;
		top: 82%;
	}

	.app {
		margin-top: 60px;
	}

	.app-left li:nth-child(2) h3 {
		-webkit-transform: scale(0.75);
		margin-left: -28px;
	}

	.app-left p {
		margin-left: -20px;
	}

	.app-right {
		margin-right: 10px;
	}

	.vr,
	.yicx,
	.water {
		width: 30.3%;
		margin-right: 20px;
	}

	.water {
		margin-right: 0;
	}

	.app-content .textbox {
		width: 55%;
		font-size: 15px;
		left: 1%;
		top: 82%;
	}

	.szpg,
	.mmyd,
	.qwts {
		width: 30.3%;
		/* height: 249px; */
		margin-right: 20px;
	}

	.qwts {
		margin-right: 0;
	}

	.images-1 .textboxs {
		width: 55%;
		font-size: 15px;
		left: 1%;
		top: 82%;
	}

	.routine {
		margin-top: 68px;
	}

	.routine-left li:nth-child(2) h3 {
		margin-left: -54px;
	}

	.routine-right {
		margin-right: 10px;
	}

	.vr-2,
	.lzsh,
	.interface {
		width: 30.3%;
		margin-right: 20px;
	}

	.interface {
		margin-right: 0;
	}

	.routine-content .textbox {
		width: 55%;
		font-size: 15px;
		left: 1%;
		top: 82%;
	}

	.ebbly,
	.anerfa,
	.ths {
		width: 30.3%;
		margin-right: 20px;
	}

	.ths {
		margin-right: 0;
	}

	.images-2 .textboxs {
		width: 55%;
		font-size: 15px;
		left: 1%;
		top: 82%;
	}


	.forus-footer {
		width: 100%;
		margin: 0;
	}

	.foot-left {
		width: 39%;
	}

	.foot-left p {

		margin-top: 6px;
	}

	.foot-right li {
		margin-top: 3px;
	}

	.foot-right {
		width: 54%;
	}

	.foot-right ul {
		width: 35%;
		margin-right: -10px;
	}
	.foot-right ul:last-child {
		width: 66%;
	}
}


@media only screen and (max-width: 600px) {

	.header_left {
		width: 72px;
		height: 35px;
	}

	.header li {
		-webkit-transform: scale(0.75);
	}

	.header_right li:first-child,
	.header_right li:nth-child(2),
	.header_right li:nth-child(3) {
		margin-right: -7px;

	}

	.wenben {
		height: 200px;
		background-size: 100% 200px;
	}

	.text {
		/* width: 160%; */
		padding: 10%;
		display: inline-block;
		-webkit-transform: scale(0.5);

		margin-left: -131px;
	}

	h3 {
		-webkit-transform: scale(0.7);
		margin-left: -53px;
	}

	.website {
		padding-top: 1px;
	}

	.web-left {
		margin-left: -12px;
	}

	.web-left ul {
		margin-left: -17px;
	}

	.web-left li {
		-webkit-transform: scale(0.8);
	}

	.web-left p {
		-webkit-transform: scale(0.7);
		margin-left: -45px;
	}

	.web-right,
	.app-right,
	.routine-right {
		-webkit-transform: scale(0.5);
		height: 0;
		margin-right: -19px;
	}

	.web-right ul:last-child {
		margin-top: -31px;
	}

	.two li:nth-child(2) {
		margin-left: 10px;
		margin-right: 10px;
	}

	.app-right li {
		margin-right: 10px;
	}

	.cactus,
	.futuristic,
	.luckin {
		width: 31.3%;
		padding: 10px 5px;
		margin-right: 5px;
	}

	.cactus img,
	.futuristic img,
	.luckin img {
		width: 100%;
		height: 100%;

	}

	.web-content .textbox {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -21px;
		top: 67%;
	}

	.images {
		margin-top: 164px;
		/* padding-bottom: 50px; */
	}

	.tpkxt,
	.sygzs,
	.youlv {
		width: 31.3%;
		padding: 10px 5px;
		margin-right: 5px;
		margin-top: 49px;
	}

	.images .textboxs {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -21px;
		top: 70%;
	}

	.app {
		margin-top: 60px;
	}

	/* .app-left {
		margin-top: -50px;
	} */
	.app-left li:nth-child(2) h3 {
		-webkit-transform: scale(0.6);
		margin-left: -37px;
	}

	.app-left p {
		-webkit-transform: scale(0.6);
		margin-left: -37px;
	}

	.app-right ul {
		margin-top: -22px;
	}

	.vr,
	.yicx,
	.water {
		width: 31.3%;
		margin-right: 5px;
		margin-top: 6px;
	}

	.app-content .textbox {
		width: 95%;
		-webkit-transform: scale(0.5);
		left: -11px;
		top: 67%;

	}

	.szpg,
	.mmyd,
	.qwts {
		width: 31.3%;
		margin-top: -40px;
		margin-right: 5px;
	}

	.images-1 .textboxs {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -22px;
		top: 67%;
	}

	.routine {
		margin-top: 60px;
		margin-bottom: 50px;
	}

	.routine-content {
		padding: 45px 0;
	}

	.routine-left li:nth-child(2) h3 {
		-webkit-transform: scale(0.6);
		margin-left: -60px;
	}

	.routine-left p {
		-webkit-transform: scale(0.6);
		margin-left: -60px;
	}

	.routine-right ul {
		margin-top: -22px;
	}

	.routine-right li {
		margin-right: 10px;
	}

	.vr-2,
	.lzsh,
	.interface {
		width: 31.3%;
		margin-right: 5px;
		margin-top: 6px;
	}

	.routine .textbox {
		width: 95%;
		-webkit-transform: scale(0.5);
		left: -11px;
		top: 67%;

	}

	.ebbly,
	.anerfa,
	.ths {
		width: 31.3%;
		margin-top: -40px;
		margin-right: 5px;
	}

	.images-2 .textboxs {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -22px;
		top: 67%;
	}

	.images-2 {
		padding-bottom: 45px;
	}

	/* footer {
		margin-top: -190px;
		height: 259px;
	} */

	.forus-footer {
		width: 100%;
		margin: 0;
	}

	.foot-left {
		width: 39%;
	}

	.foot-left img {
		width: 50%;
		height: 20%;
	}

	.foot-left p {
		font-size: 12px;
		margin-top: 6px;
		line-height: 20px;
	}

	.foot-right li {
		margin-top: 3px;
	}

	.foot-right {
		width: 54%;
	}

	.foot-right ul:first-child {
		width: 35%;
		margin-left: -10px;
	}

	.foot-right ul:last-child {
		width: 71%;
	}

	.foot-right h4 {
		font-size: 16px;
	}

	.foot-right a {
		display: inline-block;
		font-size: 12px;
	}

	.foot-right p {
		font-size: 12px;
	}

	.foot-right ul {
		width: 35%;
		margin-right: -10px;
	}

	.foot-right li:nth-child(2),
	.foot-right li:nth-child(3),
	.foot-right li:nth-child(4) {
		margin-top: 5px;
	}

	.di {
		padding-top: 5px;
	}

	.di p {
		-webkit-transform: scale(0.75);
	}
}


@media only screen and (max-width: 375px) {
	body {
		min-width: 320px;
	}
	.header_left {
		width: 22%;
		height: 35px;
	}

	.header li a {
		font-size: 12px;
	}

	.header_right li:first-child,
	.header_right li:nth-child(2),
	.header_right li:nth-child(3) {
		margin-right: -7px;

	}

	.wenben {
		height: 200px;
		background-size: 100% 200px;
	}

	.text {
		/* width: 160%; */
		padding: 10%;
		display: inline-block;
		-webkit-transform: scale(0.5);

		margin-left: -31%;
	}

	h3 {
		-webkit-transform: scale(0.7);
		margin-left: -53px;
	}

	.website {
		padding-top: 1px;
	}

	.web-left {
		margin-left: -12px;
	}

	.web-left ul {
		margin-left: -17px;
	}

	.web-left li {
		-webkit-transform: scale(0.8);
	}

	.web-left p {
		-webkit-transform: scale(0.7);
		margin-left: -45px;
	}

	.web-right,
	.app-right,
	.routine-right {
		-webkit-transform: scale(0.5);
		height: 0;
		margin-right: -19px;
	}

	.web-right ul:last-child {
		margin-top: -31px;
	}

	.two li:nth-child(2) {
		margin-left: 10px;
		margin-right: 10px;
	}

	.app-right li {
		margin-right: 10px;
	}

	.cactus,
	.futuristic,
	.luckin {
		padding: 10px 5px;
		margin-right: 5px;
	}

	.cactus img,
	.futuristic img,
	.luckin img {
		width: 100%;
		height: 100%;

	}

	.web-content .textbox {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -21px;
		top: 69%;
		font-size: 14px;
	}

	.images {
		margin-top: 164px;
		/* padding-bottom: 50px; */
	}

	.tpkxt,
	.sygzs,
	.youlv {
		width: 31.3%;
		padding: 10px 5px;
		margin-right: 5px;
		margin-top: 45px;
	}

	.images .textboxs {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -17px;
		top: 69%;
	}

	.app {
		margin-top: 60px;
	}

	/* .app-left {
		margin-top: -50px;
	} */
	.app-left li:nth-child(2) h3 {
		-webkit-transform: scale(0.6);
		margin-left: -37px;
	}

	.app-left p {
		-webkit-transform: scale(0.6);
		margin-left: -37px;
	}

	.app-right ul {
		margin-top: 281px;
	}

	.vr,
	.yicx,
	.water {
		width: 31.3%;
		margin-right: 5px;
		margin-top: 6px;
	}

	.app-content .textbox {
		width: 95%;
		-webkit-transform: scale(0.5);
		left: -11px;
		top: 67%;

	}

	.szpg,
	.mmyd,
	.qwts {
		width: 31.3%;
		margin-top: -40px;
		margin-right: 5px;
	}

	.images-1 .textboxs {
		width: 100x%;
		-webkit-transform: scale(0.5);
		left: -22px;
		top: 67%;
		font-size: 14px;
	}

	.routine {
		margin-top: 60px;
		margin-bottom: 198px;
	}

	.routine-content {
		padding: 45px 0;
	}

	.routine-left li:nth-child(2) h3 {
		-webkit-transform: scale(0.6);
		margin-left: -64px;
	}

	.routine-left p {
		-webkit-transform: scale(0.6);
		margin-left: -64px;
	}

	.routine-right ul {
		margin-top: -22px;
	}

	.routine-right li {
		margin-right: 10px;
	}

	.vr-2,
	.lzsh,
	.interface {
		width: 31.3%;
		margin-right: 5px;
		margin-top: 6px;
	}

	.routine .textbox {
		width: 95%;
		-webkit-transform: scale(0.5);
		left: -11px;
		top: 67%;

	}

	.ebbly,
	.anerfa,
	.ths {
		width: 31.3%;
		margin-top: -40px;
		margin-right: 5px;
	}

	.images-2 .textboxs {
		width: 100%;
		-webkit-transform: scale(0.5);
		left: -22px;
		top: 67%;
	}

	.images-2 {
		padding-bottom: 45px;
	}

	footer {
		margin-top: -150px;
	}

	.forus-footer {
		width: 100%;
		margin: 0;
	}

	.foot-left {
		width: 39%;
	}

	.foot-left img {
		width: 50%;
		height: 20%;
	}

	.foot-left p {
		/* width: 170px; */
		-webkit-transform: scale(0.75);
		margin-top: -12px;
		margin-left: -24px;
		line-height: 20px;
	}

	.foot-right li {
		margin-top: 3px;
	}

	.foot-right {
		width: 54%;
	}

	.foot-right ul:first-child {
		width: 35%;
		margin-left: 0px;
	}

	.foot-right ul:last-child {
		width: 70%;
	}

	.foot-right h4 {
		-webkit-transform: scale(0.75);
	}

	.foot-right a {
		display: inline-block;
		-webkit-transform: scale(0.85);
	}

	.foot-right p {
		-webkit-transform: scale(0.75);
	}

	.foot-right ul {
		width: 35%;
		margin-right: -10px;
	}

	.foot-right li:nth-child(2),
	.foot-right li:nth-child(3),
	.foot-right li:nth-child(4) {
		margin-top: -5px;
	}

	.di {
		padding-top: 5px;
	}

	.di p {
		-webkit-transform: scale(0.75);
	}
}
