/* 服务介绍内容部分  */
.service-content {
	width: 100%;
	height: 100%;
}
.wenzi {
	width: 100%;
	height: 619px;
	background: url(../img/service-back.png) no-repeat;
	background-size: 100% 619px;
	
}

.text {

	padding: 216px 60px;
	/* margin-left: 4%; */
	/* text-align: left; */
}

.text li {
	margin-bottom: 30px;
	font-size: 2.5rem;
}

.nav {
	
}
.nav ul {
	margin-top: 20px;
}

.nav a {
	color: #ffffff;
	font-size: 1.875rem;
	padding-bottom: 3px;
}


.line {
	width: 80px;
	height: 4px;
	background-color: #ff852b;
	margin-top: 20px;

}

.content-top {
	width: 100%;
	display: flex;
	margin-top: -60px;
}

.qua {
	width: 51.74%;
	height: 25%;
	
	/* border: 1px dashed #ccc; */
}

.QUA {
	background: url(../img/introduce_wenzi1_img.png) no-repeat;
}

.PROJ {
	background: url(../img/introduce_wenzi2_img.png) no-repeat;
}

.PROC {
	background: url(../img/introduce_wenzi3_img.png) no-repeat;
}

.content-top-1,
.content-top-2,
.content-top-3 {
	flex: 1;
	width: 50%;
	height: 210px;
	background-color: #FFFFFF;
	box-shadow:0px 4px 43px 0px rgba(221,221,221,0.63);
	border-radius: 5px;
	margin-right: 40px;
	box-sizing: border-box;
}

.content-top-3 {
	margin-right: 0;
}

.zhuanzhu {
	margin: 39px;

}

.zz-left {
	/* width: 50px; */
	height: 47px;
	margin-top: 20px;
}

.zz-right {
	width: 72%;
	/* height: 216px; */
	margin-left: 26px;
}

.zz-right h4 {
	/* width: 144px; */
	height: 18px;
	font-size: 1.125rem;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
}



.zz-right p {
	/* width: 304px; */
	height: 76px;
	font-size: 16px;
	font-family: SourceHanSansCN-Regular;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 30px;
	margin-top: 30PX;
	/* overflow: hidden; */
}

/* 企业网站建设 */
.wzjs {
	width: 100%;
	margin-top: 100px;
}

.wzjs-left {
	width: 40%;
	height: 414px;
}

.wzjs-left img {
	width: 100%;
	height: 100%;
	/* border: 1px dashed #ccc; */
	box-sizing: border-box;
}

.wzjs-right {
	margin-top: 95px;
	margin-left: 103px;
	width: 50%;
	/* height: 500px; */

}

.wzjs-right h3 {
	/* width: 204px; */
	height: 32px;
	font-size: 2.125rem;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);

}

.wzjs-right ul {
	margin-top: 70px;
}

.wzjs-right li {
	margin-bottom: 30px;
}

.wzjs-right p {
	/* width: 684px; */
	height: 16px;
	font-size: 1rem;
	font-family: SourceHanSansCN-Regular;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

/* APP开发 */


.app-right {
	margin-right: 103px;
	margin-bottom: 121px;
	box-sizing: border-box;
	width: 50%;
}

.app-right h3 {
	font-size: 2.125rem;
	font-family: SourceHanSansCN-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	margin-top: 100px;
	text-align: right;

}

.app-right ul {
	margin-top: 50px;
}

.app-right li {
	margin-bottom: 30px;
	text-align: right;
}

.app-right p {
	height: 16px;
	font-size: 1rem;
	font-family: SourceHanSansCN-Regular;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
}

.xcxkf {
	margin-bottom: 117px;
}
