<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta name="keywords" content="橙芽,橙芽网络官网,网络,智能,数据,创新,高效,互联网,智能大数据,多元信息服务,网站建设,开发,设计,微信小程序,智能一体化,先进,专业等">
		<meta name="description" content="石家庄橙芽网络技术有限公司是一家专业专注于网络服务领域的高科技公司，作为一家以智能管理、网站开发为主的互联网技术公司，始终以领先的服务水平和技术实力，为各类企业客户提供顶尖的IT产品服务和技术解决方案">
		<title>橙芽网络-关于我们</title>
		<link rel="icon" href="../chengy_logo.ico">
		<link rel="stylesheet" type="text/css" href="../css/forus.css" />
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/myPagination.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css" />
		<link href="../css/jquery.gScrollingCarousel.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/forus-shipei.css"/>
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/shipei.js" type="text/javascript" charset="utf-8"></script>

	</head>
	<body>
		<div id="body">
			<!-- 内容部分 -->
			<div class="content_top">
				<!-- <img src="../img/chengya_banner3_img.png" > -->
				<!-- 版心 -->
				<div class="wenzinr">
					<!-- 图片上的文字内容 -->
					<div class="text">
						<ul class="clearfix">
							<li class="left">以精立业</li>
							<li class="left">以质取胜</li>
						</ul>
						<div class="nav">
							<p>网站搭建、APP开发、微信公众号开发、微信小程序开发</p>
							<div class="line1">
								
							</div>

						</div>
					</div>
				</div>
				<div class="wraper">
					<!-- 橙芽数据模式 -->
					<div class="data clearfix">
						<ul class="left">
							<li>
								<div class="line"></div>
							</li>
							<li>
								<h3>橙芽数据模式</h3>
							</li>
							<li class="mode">
								<p class="neir">ORANGE BUD DATA MODE</p>
							</li>
						</ul>
						<div class="picture right">
							<img src="../img/about_bg1_img.png" class="right">
						</div>
						<!-- 数据 -->
						<div class="year">
							<div class="year_1 clearfix">
								<p class="left">2000</p>
								<p class="left">+</p>
								<p>行业作品数量</p>
							</div>
							<div class="year_2 clearfix">
								<p class="left">10年</p>
								<p class="left">+</p>
								<p>行业设计经验</p>
							</div>
							<div class="year_3 clearfix">
								<p class="left">5000</p>
								<p class="left">+</p>
								<p>合作伙伴</p>
							</div>
							<div class="year_4 clearfix">
								<p class="left">98%</p>
								<p class="left">+</p>
								<p>客户评分</p>
							</div>
						</div>
					</div>



				</div>

				<!-- 橙芽网络 -->
				<div class="internet">
					<div class="wraper">
						<div class="page-one">
							<!-- 橙芽网络公司概述 -->
							<div class="cywl">
								<div class="line"></div>
								<h3>橙芽网络</h3>
								<ul class="cywl-text">
									<li>
										<p>专注于互联网创新技术的新型企业</p>
									</li>
								
									<li>
										<p>提供极致的互联网产品解决方案</p>
									</li>
								</ul>


								<img src="../img/about_shuju_img.png">
								<!-- 文字描述 -->
								<div class="wordscrption">
									<p>石家庄橙芽网络技术有限公司是一家专业专注于网络服务领域的高科技公司，作为一家以智能管理、网站开发为主的互联网技术公司，始终以领先的服务水平和技术实力，为各类企业客户提供顶尖的IT产品服务和技术解决方案。通过专业团队的行业经验以及技术创新，为客户提供更好的一站式互联网解决方案，携手广大企业客户，共同发展进步。</p>
								</div>
							</div>

							<div class="container">
								<div class="g-scrolling-carousel">
									<div class="items">
										<!-- 橙芽办公区域 -->
										<div class="mypic-1 div">
											<div class="mypic-1">
												<img src="../img/about_environment1_img.png" title="办公区域" class="xianshi">
												<div class="beizhu" style="display: none">写字楼内走廊</div>
											</div>
										</div>
										<div class="mypic-2 div">
											<img src="../img/Conference-Room.png" id="conference" >
											<div class="conference" style="display: none;">项目会议室</div>
										</div>
					
									</div>
								</div>
							</div>
							<div class="djqh">
								<ul class="clearfix">
									<li class="previous left">
										<img src="../img/project_arrowleft2_icon.png" style="opacity: 0.4;">
									</li>
									<li class="left">
										<p id="num1" style="display: block;"><span>01</span>/02</p>
										<p id="num2" style="display: none;"><span>02</span>/02</p>
									</li>
									<li class="afters left">
										<img src="../img/project_arrowright1_icon.png" style="opacity: 1;">
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>



				<!-- 品牌文化 -->
				<div class="brand">
					<div class="wraper">
						<div class="line"></div>
						<h3>品牌文化</h3>
						<p>BRAND CULTURE</p>

						<div class="culture">

							<!-- 企业使命 -->
							<div class="qysm clearfix">
								<img src="../img/icon-1.png" alt="">
								<h3>企业使命</h3>
								<p>打造企业互联网新形象 追求企业智能化新体验。</p>
							</div>

							<!-- 企业宗旨 -->
							<div class="qyzz">
								<img src="../img/icon-2.png" alt="">
								<h3>企业宗旨</h3>
								<p>提供创新、高效、优质的产品、方案和服务，实现企业价值最大化。经营</p>
							</div>

							<!-- 经营理念 -->
							<div class="jyln">
								<img src="../img/icon-3.png" alt="">
								<h3>经营理念</h3>
								<p>业务、技术、营销、管理全方位创新，产品、人才、数据、合作多元化发展企业。</p>
							</div>

							<!-- 企业精神 -->
							<div class="qyjs">
								<img src="../img/icon-4.png" alt="">
								<h3>企业精神</h3>
								<p>以持续创新和高效执行为保障，秉承专业、专注、专一的时代精神。
</p>
							</div>
						</div>
					</div>
				</div>

				<!-- 企业优势 -->
				<div class="advantage clearfix">
					<div class="wraper clearfix">
						<!-- 企业优势上右侧文字部分 -->
						<div class="advantage-top right">
							<ul>
								<li class="clearfix">
									<div class="line right"></div>
								</li>
								<li class="clearfix">
									<h3 class="right">企业优势</h3>
								</li>
								<li class="clearfix">
									<p class="right">BUSINESS ADVANTAGE</p>
								</li>
							</ul>
							
							
							
						</div>

						<!-- 下 主体部分 -->
						<div class="advantage-bottom clearfix">
							<!-- 右侧内容部分 -->
							<div class="advantage-right right">
								<ul class="list" style="display: block;">
									<li class="text-one">
										<h4>专业</h4>
										<p>资深互联网研发团队</p>
									</li>
									<li class="text-two">
										<h4>敏锐</h4>
										<p>具有对客户需求的深入研究和把握能力</p>
									</li>
									<li class="text-three">
										<h4>高效</h4>
										<p>务求快速、可靠、准时、物超所值</p>
									</li>
								</ul>
							</div>

						

							<!-- 左侧图片 -->
								<div class="pic-1">
								<img src="../img/about_advantage3_img.png">
							</div>
							<div class="pic-2">
								<img src="../img/advantage-2.png">
							</div>
							<div class="pic-3">
								<img src="../img/advantage-1.png">
							</div>
							<ul class="jiantou clearfix">
								<li class="left bef">
									<img src="../img/project_arrowleft2_icon.png" style="opacity: 0.4;">
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/03</p>
									<p class="num2" style="display: none;"><span>02</span>/03</p>
									<p class="num3" style="display: none;"><span>03</span>/03</p>
								</li>
								<li class="left aft">
									<img src="../img/project_arrowright1_icon.png" >
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- 合作伙伴 -->
				<div class="partner">
					<div class="wraper">
						<div class="partner-top">
							<ul>
								<li>
									<div class="line"></div>
								</li>
								<li>
									<h3>合作伙伴</h3>
								</li>
								<li>
									<p>PARTNER</p>
								</li>
							</ul>		
						</div>

						<div class="partner-bottom">
							<ul class="clearfix">
								<li class="baidu left">
									<img src="../img/about_logo1_2_img.png">
								</li>
								<li class="zhilian left">
									<img src="../img/about_logo2_1_img.png">
								</li>
								<li class="tengxun left">
									<img src="../img/partner-3.png">
								</li>
								<li class="ydzx left">
									<img src="../img/about_logo4_2_img.png">
								</li>
							</ul>
							<ul class="clearfix">
								<li class="ali left">
									<img src="../img/about_logo5_2_img.png">
								</li>
								<li class="tc left">
									<img src="../img/about_logo6_2_img.png">
								</li>
								<li class="huawei left">
									<img src="../img/about_logo7_2_img.png">
								</li>
								<li class="youku left">
									<img src="../img/about_logo8_2_img.png">
								</li>
							</ul>
						</div>
					</div>
				</div>

				<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>

			</div>
		</div>
		
	</body>
</html>
<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/forus.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".g-scrolling-carousel .items").gScrollingCarousel();
		
	});
</script>
<script src="../js/jquery.gScrollingCarousel.js" type="text/javascript" charset="utf-8"></script>
