<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>关于我们</title>
		<link rel="icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../css/forus.css" />
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/myPagination.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css"/>

		<!-- <script src="../js/myPagination.js" type="text/javascript" charset="utf-8"></script> -->
	</head>
	<body>
		<div id="body">
			<!-- 顶部 -->
			<div class="header">
				<div class="wraper">
					<!-- 左侧logo -->
					<div class="header_left left">
						<!-- <img src="../img/logo.png" > -->
					</div>
					<!-- 右侧 导航栏-->
					<div class="header_right right">
						<ul class="clearfix">
							<li class="left">
								<a href="../index.html">首页</a>
							</li>
							<li class="left">
								<a href="project-case.html">项目案例</a>
							</li>
							<li class="left">
								<a href="forus.html">关于我们</a>
							</li>
							<li class="left">
								<a href="service-introduction.html">服务介绍</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 内容部分 -->
			<div class="content_top">
				<!-- 版心 -->
				<div class="wraper">
					<!-- 图片上的文字内容 -->
					<div class="text">
						<ul class="clearfix">
							<li class="left">以精立业</li>
							<li class="left">以智取胜</li>
						</ul>
						<div class="nav">
							<ul class="clearfix">
								<li class="left">
									<a href="#">网站搭建</a>
								</li>
								<li class="left">
									<a href="#">APP开发</a>
								</li>
								<li class="left">
									<a href="#">微信公众号开发</a>
								</li>
								<li class="left">
									<a href="#">微信小程序开发</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- 橙芽数据模式 -->
					<div class="data">
						<div class="line"></div>
						<h3>橙芽数据模式</h3>
						<p>ORANGE BUD DATA MODE</p>
						<!-- 数据 -->
						<div class="year">
							<div class="year_1">
								<p>2000+</p>
								<p>行业作品数量</p>
							</div>
							<div class="year_2">
								<p>10年+</p>
								<p>行业设计经验</p>
							</div>
							<div class="year_3">
								<p>5000+</p>
								<p>合作伙伴</p>
							</div>
							<div class="year_4">
								<p>98%+</p>
								<p>客户评分</p>
							</div>
						</div>
					</div>



				</div>

				<!-- 橙芽网络 -->
				<div class="internet">
					<div class="wraper">
						<div class="page-one clearfix">
							<!-- 橙芽网络公司概述 -->
							<div class="cywl left">
								<div class="line"></div>
								<h3>橙芽网络</h3>
								<p>石家庄橙芽网络技术有限公司专注互联网软件技术的开发与应用</p>
								<p>电子商务平台的搭建与运营</p>
								<img src="../img/chart.png">
							</div>

							<!-- 橙芽办公区域 -->
							<div class="mypic-1 left">
								<img src="../img/mypic-1.jpg" title="办公区域">
							</div>
							<div class="mypic-2 left">
								<img src="../img/mypic-2.jpg">
							</div>
						</div>
						<div class="page-two clearfix">
							<div class="mypic-3 left">
								<img src="../img/mypic-3.jpg">
							</div>
							<div class="mypic-4 left">
								<img src="../img/mypic-4.jpg">
							</div>
							<div class="mypic-5 left">
								<img src="../img/mypic-5.jpg">
							</div>
						</div>

						<div id="pagination" class="pagination">
							<ul>
								<li class="left">⬅</li>
								<li class="left">
									<p>01</p>
								</li>
								<!-- <li class="left">/</li> -->
								<li class="left">
									<p>02</p>
								</li>
								<li class="left">➡</li>
							</ul>
						</div>

					</div>
				</div>

				<!-- 文字描述 -->
				<div class="wordscrption">
					<p>石家庄橙芽网络技术有限公司，为国内各行业各企业提供企业官网/商城网站建设、APP开发与设计、微信公众平台开发、微信小程序开发、ICANN&CNNIC双认证域名注册等专业服务。石家庄金角网络技术有限公司为您提供全程一对一尊享VIP服务、技术研发团队7X24小时管家式支持。</p>
				</div>

				<!-- 品牌文化 -->
				<div class="brand">
					<div class="wraper">
						<div class="line"></div>
						<h3>品牌文化</h3>
						<p>BRAND CULTURE</p>

						<div class="culture">

							<!-- 企业使命 -->
							<div class="qysm clearfix">
								<img src="../img/icon-1.png" alt="">
								<h3>企业使命</h3>
								<p>预测今后发展中可能出现的新问题和各种机会，制定及时且务实的对策。</p>
							</div>

							<!-- 企业宗旨 -->
							<div class="qyzz">
								<img src="../img/icon-2.png" alt="">
								<h3>企业宗旨</h3>
								<p>提供创新、优秀的产品、方案与服务，全面协助客户、企业和员工实现成功体验。</p>
							</div>

							<!-- 经营理念 -->
							<div class="jyln">
								<img src="../img/icon-3.png" alt="">
								<h3>经营理念</h3>
								<p>多元共赢——我们倡导互相理解，珍视多元性，以全球视野看待我们的文化。</p>
							</div>

							<!-- 企业精神 -->
							<div class="qyjs">
								<img src="../img/icon-4.png" alt="">
								<h3>企业精神</h3>
								<p>由企业优良传统、时代精神和企业个性融合的共同理念、作风和行为准则。</p>
							</div>
						</div>
					</div>
				</div>
				
				<!-- 企业优势 -->
				<div class="advantage clearfix">
					<div class="wraper clearfix">
						<!-- 企业优势上右侧文字部分 -->
						<div class="advantage-top right">
							<div class="line"></div>
							<h3>企业优势</h3>
							<p>BUSINESS ADVANTAGE</p>
						</div>
						
						<!-- 下 主体部分 -->
						<div class="advantage-bottom clearfix">
							<!-- 右侧内容部分 -->
							<div class="advantage-right right">
								<ul>
									<li>
										<h4>智能化</h4>
										<p>我有多个核心业务产品线和辅助服务产品线</p>
									</li>
									<li>
										<h4>高效率化</h4>
										<p>一键化智能办公，提高工作效率</p>
									</li>
									<li>
										<h4>重技术</h4>
										<p>安全稳定快速解决</p>
									</li>
								</ul>
								
								<ul class="jiantou clearfix">
									<li class="left">⬅</li>
									<li class="left">01/02</li>
									<li class="left">➡</li>
								</ul>
							</div>
							
							<!-- 左侧图片 -->
							<div class="pic-1 right">
								<img src="../img/advantage-1.png" >
							</div>
							<div class="pic-2 right">
								<img src="../img/advantage-2.png" >
							</div>
							<div class="pic-3 right">
								<img src="../img/advantage-2.png" >
							</div>
						</div>
					</div>
				</div>
				
				<!-- 合作伙伴 -->
				<div class="partner">
					<div class="wraper">
						<div class="partner-top">
							<div class="line"></div>
							<h3>合作伙伴</h3>
							<p>PARTNER</p>
						</div>
						
						<div class="partner-bottom">
							<ul class="clearfix">
								<li class="left">
									<img src="../img/partner-1.png" >
								</li>
								<li class="left">
									<img src="../img/partner-2.png" >
								</li>
								<li class="left">
									<img src="../img/partner-3.png" >
								</li>
								<li class="left">
									<img src="../img/partner-4.png" >
								</li>
							</ul>
							<ul class="clearfix">
								<li class="left">
									<img src="../img/partner-5.png" >
								</li>
								<li class="left">
									<img src="../img/partner-6.png" >
								</li>
								<li class="left">
									<img src="../img/partner-7.png" >
								</li>
								<li class="left">
									<img src="../img/partner-8.png" >
								</li>
							</ul>
						</div>
					</div>
				</div>
			
				<!-- 尾部 -->
			
				<footer>
					<div class="wraper clearfix">
						
						<!-- 底部内容部分 -->
						<div class="forus-footer">
							<!-- 左侧内容 -->
							<div class="foot-left left">
								<img src="../img/logo.png" >
								<p>石家庄橙芽网络技术有限公司，专注互联网软件技术的开发与应用、</p>
								<p>APP开发与设计、微信公众平台开发、电子商务的搭建、网站营销、</p>
								<p>网络推广、品牌推广。帮助企业建立全面且切实的市场形象。</p>
							</div>
							
							<!-- 右侧内容部分 -->
							<div class="foot-right right">
								<ul class="left">
									<li>
										<h4>快速入口</h4>
									</li>
									<li>
										<a href="../index.html">首页</a>
									</li>
									<li>
										<a href="project-case.html">项目案例</a>
									</li>
									<li>
										<a href="forus.html">关于我们</a>
									</li>
									<li>
										<a href="service-introduction.html">服务介绍</a>
									</li>
								</ul>
								<ul class="left">
									<li>
										<h4>联系方式</h4>
									</li>
									<li>
										<p>电话： 000-0000-000</p>
									</li>
									<li>
										<p>邮箱： 00000@00.000</p>
									</li>
									<li>
										<p>地址： 石家庄市长安区嘉和广场4号写字楼25层</p>
									</li>
									
								</ul>
							</div>
							
							
						</div>
						<div class="di">
							<p>@2019  石家庄橙芽网络技术有限公司 版权所有</p>
						</div>
					</div>
				</footer>
			
			</div>
		</div>
	</body>
</html>
<!-- <script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script> -->
<script src="../js/forus.js" type="text/javascript" charset="utf-8"></script>
