<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta name="keywords" content="橙芽,橙芽网络官网,网络,智能,数据,创新,高效,互联网,智能大数据,多元信息服务,网站建设,开发,设计,微信小程序,智能一体化,先进,专业,VHU等">
		<meta name="description" content="石家庄橙芽网络技术有限公司是一家专业专注于网络服务领域的高科技公司，作为一家以智能管理、网站开发为主的互联网技术公司，始终以领先的服务水平和技术实力，为各类企业客户提供顶尖的IT产品服务和技术解决方案">
		<title>橙芽网络-项目案例</title>
		<link rel="icon" href="../chengy_logo.ico">
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" href="../css/project-case.css">
		<link rel="stylesheet" type="text/css" href="../css/footer.css" />
		<link rel="stylesheet" href="../css/projectCase-shipei.css">
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>

		<div class="body">


			<!-- 内容部分 -->
			<div class="anli-content">
				<!-- 背景图 -->
				<div class="wenben">
					<!-- 图片上的文字内容 -->
					<div class="text">
						<p>经典<span>项目案例</span>展示</p>
						<div class="nav">
							<ul class="clearfix">
								<li>
									<p>经典案例仅代表我们曾经拥有的精彩，您将与我们共同创建美好的未来...</>
								</li>
								<li>
									<div class="line"></div>
								</li>

							</ul>
						</div>
					</div>
				</div>
					<!-- 企业网站建设 -->
				<div class="wraper">
					
					<div class="website clearfix">
						<div class="web-left left">

							<ul>
								<li>
									<div class="line"></div>
								</li>
								<li>
									<h3>企业网站建设</h3>
								</li>
								<li>
									<p>CORPORATE WEBSITE CONSTRUCTION</p>
								</li>
							</ul>



						</div>

						<div class="web-right right">
							<!-- <ul class="one clearfix">
								<li class="bef left">
									<img src="../img/project_arrowleft2_icon.png" >
								</li>
								<li class="left">
									<img src="../img/project_arrowright2_icon.png" >
								</li>
							</ul> -->
							<ul class="two clearfix">
								<li class="bef left">
									<img src="../img/project_arrowleft2_icon.png" style="opacity: 0.4;">
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/02</p>
									<p class="num2" style="display: none;"><span>02</span>/02</p>
								</li>
								<li class="aft left">
									<img src="../img/project_arrowright1_icon.png">
								</li>
							</ul>
						</div>

						<!-- 网站内容部分 -->
						<div class="web-content clearfix" style="display: block;">
							<div class="cactus left">
								<img src="../img/project_case1_img.png">
								<div class="textbox">CACTUS</div>
							</div>
							<div class="futuristic left">
								<img src="../img/project_case2_img.png">
								<div class="textbox">FUTURISTIC</div>
							</div>
							<div class="luckin left">
								<img src="../img/project_case3_img.png">
								<div class="textbox">早安咖啡</div>
							</div>

						</div>
						<div class="images clearfix" style="display: none;">
							<div class="tpkxt left">
								<img src="../img/project_case4_img.png" >
								<div class="textboxs">
									听评课系统
								</div>
							</div>
							<div class="sygzs left">
								<img src="../img/project_case5_img.png" >
								<div class="textboxs">
									摄影工作室
								</div>
							</div>
							<div class="youlv left">
								<img src="../img/project_case6_img.png" >
								<div class="textboxs">
									YOULV
								</div>
							</div>
						</div>
					</div>

					<!-- APP开发 -->

					<div class="app clearfix">
						<div class="app-left left">
							<ul>
								<li>
									<div class="line"></div>
								</li>
								<li>
									<h3>APP开发</h3>
								</li>
								<li>
									<p>APP DEVELOPMENT</p>
								</li>
							</ul>



						</div>

						<div class="app-right right">

							<ul class="clearfix">
								<li class="left prev" style="opacity: 0.4;">
									<img src="../img/project_arrowleft2_icon.png">
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/02</p>
									<p class="num2" style="display: none;"><span>02</span>/02</p>
								</li>
								<li class="left next">
									<img src="../img/project_arrowright1_icon.png" class="img1">
								</li>
							</ul>
						</div>

						<!-- app内容部分 -->
						<div class="app-content app1" style="display: block;">
							<div class="vr left">
								<img src="../img/app-1.png">
								<div class="textbox">7663 VR</div>
							</div>
							<div class="yicx left">
								<img src="../img/project_caseapp2_img.png">
								<div class="textbox">易出行</div>
							</div>
							<div class="water left">
								<img src="../img/app-3.png">
								<div class="textbox">水滴日记</div>

							</div>
						</div>
						<div class="images-1 clearfix" style="display: none;">
							<div class="szpg left">
								<img src="../img/project_caseapp4_img.png" >
								<div class="textboxs">
									数字评估系统
								</div>
							</div>
							<div class="mmyd left">
								<img src="../img/project_caseapp5_img.png" >
								<div class="textboxs">
									米米运动
								</div>
							</div>
							<div class="qwts left">
								<img src="../img/project_caseapp6_img.png" >
								<div class="textboxs">
									趣味童书
								</div>
							</div>
						</div>
					</div>

					<!-- 小程序开发 -->
					<div class="routine clearfix">
						<div class="routine-left left">
							<ul class="xcx-left">
								<li>
									<div class="line"></div>
								</li>
								<li>
									<h3>小程序开发</h3>
								</li>
								<li>
									<p>SMALL PROGRAM DEVELOPMENT</p>
								</li>
							</ul>



						</div>

						<div class="routine-right right">
							<ul class="clearfix">
								<li class="left prev1" style="opacity: 0.4;">
									<!-- <a href="#"> -->
									<img src="../img/project_arrowleft2_icon.png">
									<!-- </a> -->
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/02</p>
									<p class="num2" style="display: none;"><span>02</span>/02</p>
								</li>
								<li class="left next1">
									<!-- <a href="#"> -->
									<img src="../img/project_arrowright1_icon.png">
									<!-- </a> -->
								</li>
							</ul>
						</div>

						<!-- 小程序内容部分 -->
						<div class="routine-content xcx">
							<div class="vr-2 left">
								<img src="../img/spd-1.png">
								<div class="textbox">TEZHIE</div>
							</div>
							<div class="lzsh left">
								<img src="../img/spd-2.png">
								<div class="textbox">绿植生活</div>
							</div>
							<div class="interface left">
								<img src="../img/spd-3.png">
								<div class="textbox">每日点餐</div>

							</div>
						</div>
						<div class="clearfix images-2" style="display: none;">
							<div class="ebbly left">
								<img src="../img/project_casexiao4_img.png" >
								<div class="textboxs">
									EBBLY
								</div>
							</div>
							<div class="anerfa left">
								<img src="../img/project_casexiao5_img.png" >
								<div class="textboxs">
									ANERFA
								</div>
							</div>
							<div class="ths left">
								<img src="../img/project_casexiao6_img.png" >
								<div class="textboxs">
									童话社
								</div>
							</div>
						</div>

					</div>


				</div>

				<!-- 尾部 -->

				<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
			</div>


		</div>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/project-case.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
