<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<title>橙芽网络-项目案例</title>
		<link rel="icon" href="../chengy_logo.ico">
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" href="../css/project-case.css">
		<link rel="stylesheet" type="text/css" href="../css/footer.css" />
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>

		<div class="body">


			<!-- 内容部分 -->
			<div class="anli-content">
				<!-- 背景图 -->
				<div class="wraper">
					<!-- 图片上的文字内容 -->
					<div class="text">
						<p>经典<span>项目案例</span>展示</p>
						<div class="nav">
							<ul class="clearfix">
								<li>
									<a href="#">更专业的技术打造更优秀的项目作品</a>
								</li>
								<li>
									<div class="line"></div>
								</li>

							</ul>
						</div>
					</div>

					<!-- 企业网站建设 -->

					<div class="website clearfix">
						<div class="web-left left">
							<div class="line"></div>
							<h3>企业网站建设</h3>
							<p>CORPORATE WEBSITE CONSTRUCTION</p>
						</div>

						<div class="web-right right">
							<ul class="clearfix">
								<li class="bef left">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowleft2_icon.png">
									<!-- </a> -->
								</li>
								<li></li>
								<li class="left">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowright1_icon.png" style="opacity: 0.4;">
									<!-- </a> -->
								</li>
							</ul>

							<ul class="two clearfix">
								<li class="left">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowleft2_icon.png" style="opacity: 0.4;">
									<!-- </a> -->
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/02</p>
									<p class="num2" style="display: none;"><span>02</span>/02</p>
								</li>
								<li class="aft left">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowright1_icon.png">
									<!-- </a> -->
								</li>
							</ul>
						</div>

						<!-- 网站内容部分 -->
						<div class="web-content clearfix" style="display: block;">
							<div class="cactus left">
								<img src="../img/website-1.png">
								<div class="textbox">CACTUS</div>
							</div>
							<div class="futuristic left">
								<img src="../img/website-2.png">
								<div class="textbox">FUTURISTIC</div>
							</div>
							<div class="luckin left">
								<img src="../img/website-3.png">
								<div class="textbox">早安咖啡</div>
							</div>

						</div>
						<div class="images" style="display: none;">
							<img src="../img/website-1.png" class="left">
							<img src="../img/website-2.png" class="left">
							<img src="../img/website-3.png" class="left">
						</div>
					</div>

					<!-- APP开发 -->

					<div class="app clearfix">
						<div class="app-left left">
							<div class="line"></div>
							<h3>APP开发</h3>
							<p>APP DEVELOPMENT</p>
						</div>

						<div class="app-right right">
							<ul class="clearfix">
								<li class="left prev" style="opacity: 0.4;">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowleft2_icon.png">
									<!-- </a> -->
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/02</p>
									<p class="num2" style="display: none;"><span>02</span>/02</p>
								</li>
								<li class="left next">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowright1_icon.png" class="img1">
									<!-- </a> -->
								</li>
							</ul>
						</div>

						<!-- app内容部分 -->
						<div class="app-content app1" style="display: block;">
							<div class="vr left">
								<img src="../img/app-1.png">
								<div class="textbox">7663 VR</div>
							</div>
							<div class="yicx left">
								<img src="../img/app-2.png">
								<div class="textbox">易出行</div>
							</div>
							<div class="water left">
								<img src="../img/app-3.png">
								<div class="textbox">水滴日记</div>

							</div>
						</div>
						<div class="images-1" style="display: none;">
							<img src="../img/app-1.png" class="left">
							<img src="../img/app-2.png" class="left">
							<img src="../img/app-3.png" class="left">
						</div>
					</div>

					<!-- 小程序开发 -->
					<div class="app clearfix">
						<div class="app-left left">
							<div class="line"></div>
							<h3>小程序开发</h3>
							<p>SMALL PROGRAM DEVELOPMENT</p>
						</div>

						<div class="app-right right">
							<ul class="clearfix">
								<li class="left prev1" style="opacity: 0.4;">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowleft2_icon.png">
									<!-- </a> -->
								</li>
								<li class="left">
									<p class="num1" style="display: block;"><span>01</span>/02</p>
									<p class="num2" style="display: none;"><span>02</span>/02</p>
								</li>
								<li class="left next1">
									<!-- <a href="#"> -->
										<img src="../img/project_arrowright1_icon.png">
									<!-- </a> -->
								</li>
							</ul>
						</div>

						<!-- 小程序内容部分 -->
						<div class="app-content xcx" style="display: block;">
							<div class="vr  vr-2 left">
								<img src="../img/spd-1.png">
								<div class="textbox">7663 VR</div>
							</div>
							<div class="yicx  lzsh left">
								<img src="../img/spd-2.png">
								<div class="textbox">绿植生活</div>
							</div>
							<div class="water interface left">
								<img src="../img/spd-3.png">
								<div class="textbox">每日点餐</div>

							</div>
						</div>
						<div class="images-2" style="display: none;">
							<img src="../img/spd-1.png" class="left">
							<img src="../img/spd-2.png" class="left">
							<img src="../img/spd-3.png" class="left">
						</div>

					</div>


				</div>

				<!-- 尾部 -->

				<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
			</div>


		</div>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/project-case.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
