<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/service-introduction.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="body">

			<!-- 服务介绍内容部分 -->
			<div class="service-content">
				<div class="wraper">
					<div class="text">
						<ul class="clearfix">
							<li class="left">电子商务平台</li>
							<li class="left">解决方案专家</li>
						</ul>
						<div class="nav">
							<ul class="clearfix">
								<li>
									<p>E-commerce platform solution expert</p>
								</li>
								<li>
									<div class="line"></div>
								</li>

							</ul>
						</div>
					</div>

					<div class="content-top">
						<div class="content-top-1">
							<div class="zhuanzhu clearfix">
								<div class="zz-left left">
									<img src="../img/introduce_1pinzhi_icon.png">
								</div>
								<div class="zz-right left">
									<h4>专注以及品质追求</h4>
									<p>从创始至今，我们始终专注于创意设计实现商业价值较大化。在未来我们也是基于此信念而继续创造</p>
								</div>
							</div>
						</div>
						<div class="content-top-2">
							<div class="zhuanzhu clearfix">
								<div class="zz-left left">
									<img src="../img/introduce_2anli_icon.png">
								</div>
								<div class="zz-right left">
									<h4>优秀项目案例累积</h4>
									<p>从创始至今，我们始终专注于创意设计实现商业价值较大化。在未来我们也是基于此信念而继续创造</p>
								</div>
							</div>
						</div>
						<div class="content-top-3">
							<div class="zhuanzhu clearfix">
								<div class="zz-left left">
									<img src="../img/introduce_3liucheng_icon.png">
								</div>
								<div class="zz-right left">
									<h4>严谨的项目流程</h4>
									<p>从创始至今，我们始终专注于创意设计实现商业价值较大化。在未来我们也是基于此信念而继续创造</p>
								</div>
							</div>
						</div>
					</div>

					<!-- 企业网站建设 -->
					<div class="wzjs clearfix">
						<div class="wzjs-left left">
							<img src="../img/introduce_4jianzhan_icon.png">
						</div>
						<div class="wzjs-right left">
							<h3>企业网站建设</h3>
							<ul>
								<li>
									<p>一对一个性定制，实时跟踪建站进度，精准把握每个细节，让你的官网与众不同</p>
								</li>
								<li>
									<p>网页内嵌TKD，后台全程数据化管理，高效运营，提高引流+转化</p>
								</li>
								<li>
									<p>系统内置强大SEO功能，更利于搜索殷勤抓取，提升网站排名</p>
								</li>
								<li>
									<p>117项网站验收标准，近乎苛刻的网站验收标准，降低您的事件成本</p>
								</li>
							</ul>
						</div>
					</div>
					<!-- APP开发 -->
					<div class="wzjs clearfix">

						<div class="app-right left">
							<h3>APP开发</h3>
							<ul>
								<li>
									<p>专注高端型IOS系统开发，提供优质的IOSAPP开发设计方案服务</p>
								</li>
								<li>
									<p>针对主流的ANDROID系统，提供一站式APP咨询、策划、开发服务</p>
								</li>
								<li>
									<p>立体式展现产品信息，提供基于用户了解产品细节信息、运用产品于场景的全方位展示解决方案</p>
								</li>
								<li>
									<p>针对高端APP开发需求用户，提供高端型APP定制开发咨询服务</p>
								</li>
							</ul>
						</div>

						<div class="wzjs-left left">
							<img src="../img/introduce_5app_icon.png">
						</div>
					</div>
					<!-- 小程序开发 -->
					<div class="wzjs clearfix">
						<div class="wzjs-left left">
							<img src="../img/introduce_6xiao_icon.png">
						</div>
						<div class="wzjs-right left">
							<h3>小程序开发</h3>
							<ul>
								<li>
									<p>一站式全生命周期服务，提供专业的咨询、策划、设计、开发、运维服务</p>
								</li>
								<li>
									<p>25万+服务商智能匹配，多模式服务个性化定制，多样化呈现玩转小程序</p>
								</li>
								<li>
									<p>云平台全透明项目管控，实现项目进度实时追踪、在线掌控自己的项目</p>
								</li>
								<li>
									<p>覆盖30多个垂直行业的小程序解决方案，满足各行业需求，多种营销玩法，助力企业经营推广</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			<!-- 尾部 -->
				<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
			</div>
		</div>
	</body>
</html>
