<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
				<meta name="keywords" content="橙芽,橙芽网络官网,网络,智能,数据,创新,高效,互联网,智能大数据,多元信息服务,网站建设,开发,设计,微信小程序,智能一体化,先进,专业,VHU等">
		<meta name="description" content="石家庄橙芽网络技术有限公司是一家专业专注于网络服务领域的高科技公司，作为一家以智能管理、网站开发为主的互联网技术公司，始终以领先的服务水平和技术实力，为各类企业客户提供顶尖的IT产品服务和技术解决方案">
		<title>橙芽网络-服务介绍</title>
		<link rel="icon" href="../chengy_logo.ico">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/service-introduction.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<link rel="stylesheet" href="../css/service-shipei.css">
		<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="body">

			<!-- 服务介绍内容部分 -->
			<div class="service-content">
				<div class="wenzi">
					<div class="text">
						<ul class="clearfix">
							<li class="left">高效卓越智能一体化的网络专家</li>
							<!-- <li class="left">解决方案专家</li> -->
						</ul>
						<div class="nav">
							<ul class="clearfix">
								<li>
									<p>先进、专业、安全、稳定、高效</p>
								</li>
								<li>
									<div class="line"></div>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="wraper">
					<div class="content-top">
						<div class="content-top-1 clearfix">
							<div class="qua QUA right"></div>
							<div class="zhuanzhu clearfix">

								<div class="zz-left left">
									<img src="../img/introduce_1pinzhi_icon.png">
								</div>
								<div class="zz-right left">
									<h4>VHU设计理念</h4>
									<p>基于用户体验为开发核心提高产品设计与交互的体验</p>
								</div>
							</div>
						</div>
						<div class="content-top-2">
							<div class="qua PROJ right"></div>
							<div class="zhuanzhu clearfix">
								<div class="zz-left left">
									<img src="../img/introduce_2anli_icon.png">
								</div>
								<div class="zz-right left">
									<h4>全方位优质服务</h4>
									<p>7x24小时客服热线为客户解答各种操作技术难题确保客户系统安全稳定</p>
								</div>
							</div>
						</div>
						<div class="content-top-3">
							<div class="qua PROC right"></div>
							<div class="zhuanzhu clearfix">
								<div class="zz-left left">
									<img src="../img/introduce_3liucheng_icon.png">
								</div>
								<div class="zz-right other left">
									<h4>500+知名企业共同选择</h4>
									<p>产品功能稳定获500+知名企业客户信赖品质有保障</p>
								</div>
							</div>
						</div>
					</div>

					<!-- 企业网站建设 -->
					<div class="wzjs clearfix">
						<div class="wzjs-left left">
							<img src="../img/introduce_4jianzhan_icon.png">
						</div>
						<div class="wzjs-right left">
							<h3>企业网站建设</h3>
							<ul>
								<li>
									<p>网站建设是一项系统工程，从网站策划设计、网页制作、</p>
								</li>
								<li>
									<p>网站开发至网站优化，需要非常专业的建站知识与优化经验。</p>
								</li>
								<li>
									<p>橙芽网络专注于各种类型的网站建设服务，坚持原创设计做有价值的网站，一直以来倾注心血于</p>
								</li>
								<li>
									<p>网站开发及优化，从技术、战略、大数据等各方面提供全方位的服务，帮助企业快速互联网+转型</p>
								</li>
							</ul>
						</div>
					</div>
					<!-- APP开发 -->
					<div class="wzjs app clearfix">
						<div class="wzjs-left right">
							<img src="../img/introduce_5app_icon.png">
						</div>
						<div class="app-right right">
							<h3>APP开发</h3>
							<ul>
								<li>
									<p>移动互联网时代是全民的移动互联网时代，是每个人的时代，也是每个企业的时代。</p>
								</li>
								<li>
									<p>APP便捷了每个人的生活，APP开发让每个企业都开始了移动信息化进程。</p>
								</li>
								<li>
									<p>橙芽网络专注于App开发及运营管理，使用标准Web技术开发iOS、Android原生App，各类功能</p>
								</li>
								<li>
									<p>一站聚合、一键接入,同时涵盖App推送、云修复、版本更新、大数据统计分析等全面运维功能。</p>
								</li>
							</ul>
						</div>


					</div>
					<!-- 小程序开发 -->
					<div class="wzjs xcxkf clearfix">
						<div class="wzjs-left left">
							<img src="../img/introduce_6xiao_icon.png">
						</div>
						<div class="wzjs-right left">
							<h3>小程序开发</h3>
							<ul>
								<li>
									<p>微信小程序是腾讯推出的一个战略级企业生态底层框架，</p>
								</li>
								<li>
									<p>拥有9个多亿的用户群体，为企业带来新型营销方式和巨大流量红利。</p>
								</li>
								<li>
									<p>橙芽网络根据企业商家的实际需求和行业特点，每个项目都由产品经理亲自参与设计，</p>
								</li>
								<li>
									<p>量身定制出微信小程序解决方案，助力企业商家移动创意营销新体验。</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			<!-- 尾部 -->
			
			</div>
			<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
			<script src="../js/new_file.js" type="text/javascript" charset="utf-8"></script>
		</div>
	</body>
</html>
